*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
}
:root{
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}
.navbar{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 3rem;
    position: absolute;
    color: white;
    
}
.navbar li{
    font-weight: 600;
    font-size: 1.5rem;
}
.navbar li img{
    margin: 0.5rem;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.topContainer{
    height: 60%;
    display: flex;
}
.bottomContainer{
    display: flex;
    height: 40%;
}
.firstPic{
    width: 55%;
}
.shopSection{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondPic{
    width: 33%;
    background-color: rgb(211, 130, 248);
}
.middle{
    width: 33%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.insidecontainer{
    width: 90%;
}
.middle h3{
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}
.middle p{
    color: var(--DarkGray);
    word-spacing: 5px;
    line-height: 15px;
}
.thirdPic{
    background-color: rgb(255, 166, 0);
    width: 33%;
}
.PicsDown{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
.firstImg{
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
}
.firstDesc{
    width: 80%;
}
.firstDesc h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.firstDesc p{
    color: var(--DarkGray);
    word-spacing: 5px;
    line-height: 15px;
}
.shopNow{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}
.shopNow h3{
    font-weight: 600;
    letter-spacing: 10px;
}
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
}